<div class="containerPrincipal">
  <div class="container">
    <div class="left-section">
      <img src="../../../assets/shared/prueba.jpg" alt="Imagen">
    </div>
    <div class="right-section">
      <h1>Titulo del proyecto</h1>
      <p>Herramientas</p>
      
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam provident iste sapiente cum inventore quaerat eum suscipit esse quod reiciendis nulla minus aliquam modi fugiat, magnam magni incidunt est quas!</p>
      <div class="iconRedes">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fas fa-link"></i></a>
      </div>
    </div>
  </div>
</div>