<div class="container">
  <div class="top">
    <div class="informacion">
      <p>Bienvenidos a mi portafolio web, soy:</p>
      <h2>SEBASTIAN PEREZ</h2>
      <span>Desarrollador Full Stack</span>
      <p> En este sitio web encontrará una selección de mis 
        proyectos y prácticas más destacados, además de información 
        sobre mi proceso formativo y experiencia laboral.
         <br><br> Si tiene alguna pregunta o está interesado en trabajar conmigo, no dude en ponerse en 
         contacto desde el apartado <a href="#contactame">Contactame</a>
        <br><br>
        ¡Gracias por visitar mi portafolio!
      </p>
    </div>

    <div class="foto">
      <img src="../../../assets/shared/perfil.jpg" alt="">
    </div>
  </div>
  <app-botonSobreMi></app-botonSobreMi>
</div>