<div class="containerPrincipal">
  <h2 class="titulo">Mi Practica</h2>
  <div class="container">
    <div class="left-section">
      <img src="../../../../assets/shared/Componente de resumen de pedido.webp" alt="Imagen">
    </div>
    <div class="right-section">
      <h1>Componente de resumen de pedido</h1>
      <p> <i class="fab fa-html5"></i> <i class="fab fa-css3"></i> <i class="fab fa-angular"></i> </p>
      
      <p>Tarjeta de resumen de pedido</p>
      <div class="iconRedes">
        <a href="https://github.com/sepermo/order-summary-component-main" target="_blank"> <i class="fab fa-github"></i> </a>
        <a href="#" target="_blank"> <i class="fas fa-link"></i> </a>
      </div>
    </div>
  </div>
</div>