.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 30px 50px;
  background-color: #d6e1ff ;
}

.menu img {
  width: 35px;
  margin-right: 10px;
}

.menu a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-size: 15px;
}

.menu a:hover {
  text-decoration: underline;
}
.menu .busqueda a:last-child {
  padding: 5px 30px;
  background-color: #0027d9;
  border-radius: 30px;
  box-sizing: border-box;
  color: #F1F6FE;
}

